<!--社团动态开始-->   
 <div class="section section-4">
         <img class="backgroundImg" src="__PUBLIC__/Home/images/orgAct.jpg"/>
          
            <div  id="timerLine" style="height:5px;background:#484848;width:100%;position:absolute;top:580px;font-size:35px;text-indent:50px;word-spacing:300px;">
            <span id="year1">2014</span>
            <span id="year2">2015<span> 
            </div>
             <!--时间轴上的点-->
            
             <ul id="timerSpot"> 
              <li index='0'><div class="bigger first"><span >7月</span></div></li>
              <li index='1'><div class="bigger first "><span >12月</span></div></li>
              <ol>
              <li index='2'><div class="bigger second "><span >3月</span></div></li>
              <li index='3'><div class="bigger second"><span >5月</span></div></li>
              <!-- 后台2015年动态此处加li，以及里面相同的标签class -->
              </ol>
             </ul>

           
          <!--一个大的DIV随鼠标移动内容变化-->  
          <div id="timerWindow"><img src="__PUBLIC__/Home/images/ActPhoto1.jpg"><!-- 后台此处加图 -->
          2014年7月。社团成立。<!-- 后台此处加文字 -->
          </div>
 </div>       
<!--社团动态结束--> 