<nav class="naver-default  navbar-fixed-top" >    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  id="bs-example-navbar-collapse-1">
      <img src="__PUBLIC__/home/images/logo.png" />
      <ul class="nav navbar-nav navbar-right" style="list-style:none;">
               
        <li><a href="#" class="niceColor" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                
        <li><a href="#">社团介绍</a></li> 
                
        <li><a href="#" >产品展示</a></li>
                
        <li><a href="#" >社团动态</a></li>
              
        <li><a href="#" >合作伙伴</a></li>
                
        <li><a href="#" >加入我们</a></li>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>