<!--合作伙伴开始-->    
 <div class="section section-5">
   <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"  >
  <script type="text/javascript" src="__PUBLIC__/Home/js/jQuery-easing.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jQuery-jcImgScroll.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/partner.css">
  <div id="demo3" class="jcImgScroll" style="position:absolute;top:100px;left:550px;">
  <ul>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>

  </ul>
  </div>
 </div>
<!--合作伙伴结束-->