<!--产品展示开始-->
<div class="section section-3">
   <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"  >
<div class="foucebox">
  <div class="bd">
    <div class="showDiv"> <a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
  </div>
  <div class="hd">
    <ul>
      <li class="on"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.js"></script> 
<script type="text/javascript">
jQuery(".foucebox").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){jQuery(".foucebox .showDiv").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"60px"},300);jQuery(".foucebox .showDiv").eq(i).find("p").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);}});
</script>
</div>            
<!--产品展示结束-->